*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(45deg, #0049b6, #a9ccff);
    width: 100vw;
    height: 100vh;
    color: #fff;
    padding: 32px;
}

.game-card{
    width: 40vw;
    height: 80vh;
    margin-top: 48px;
    background-color: #92afffb0;
    padding: 12px;
    /* From https://css.glass */
    background: rgba(187, 233, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}